{% extends "base.html" %}

{% block title %}
Register | Resume AI
{% endblock %}


{% block body %}

<div class="container py-5">

    <div class="row justify-content-center">

        <div class="col-md-6 col-lg-5">

            <div class="form-card">

                <h2 class="fw-bold">
                    Create Account
                </h2>

                <p class="text-muted">
                    Start your AI resume analysis.
                </p>


                <form method="POST">

                    <div class="mb-3">

                        <label>
                            Full Name
                        </label>

                        <input
                            type="text"
                            name="name"
                            class="form-control"
                            required>

                    </div>


                    <div class="mb-3">

                        <label>
                            Email
                        </label>

                        <input
                            type="email"
                            name="email"
                            class="form-control"
                            required>

                    </div>


                    <div class="mb-3">

                        <label>
                            Password
                        </label>

                        <input
                            type="password"
                            name="password"
                            class="form-control"
                            required>

                    </div>


                    <div class="mb-4">

                        <label>
                            Confirm Password
                        </label>

                        <input
                            type="password"
                            name="confirm_password"
                            class="form-control"
                            required>

                    </div>


                    <button
                        class="btn btn-dark w-100">

                        Register

                    </button>

                </form>


                <p class="text-center mt-4">

                    Already have an account?

                    <a href="{{ url_for('login') }}">
                        Login
                    </a>

                </p>

            </div>

        </div>

    </div>

</div>

{% endblock %}